h1{
    background-color:rgb(155, 243, 155);
    text-align: center;
    margin-top: 50px;
    font-size:xx-large;
}
h2{
    text-align: center;
    margin-top: 55px;
}
.container1{
    margin-top: 40px;
}
#but2{
    margin-left: 20px;

}